@model IEnumerable<courses.Areas.Admin.Models.CourseModuleModel>
@using courses.Areas.Admin.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Course Module</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-striped">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTitle)
            </td>
            @Html.Partial("_TableButtonPartial", new ButtonModuleSmall { ModuleId = item.ModuleId, CourseId= item.CourseId })
        </tr>
    }

</table>
